<div class="header-container">
  <h1 class="header">Demo</h1>
</div>

<div class="content">
  <div>
    <div class="fps-label" id="fpsLabel"></div>
    <div class="clicks">IcoSphere touched {{ clickNumber }} times</div>
    <div class="fog">
      <label for="fog">Fog</label>
      <input type="checkbox" name="fog" (change)="onChangeFog($event)" />
    </div>
    <div class="particles">
      <label for="particles">Particles</label>
      <input
        type="checkbox"
        name="particles"
        checked="true"
        (change)="onChangeParticles($event)"
      />
    </div>
  </div>

  <canvas #rCanvas class="canvas"></canvas>
</div>
