.content {
  display: flex;
  flex-wrap: wrap;

  .canvas {
    height: 100%;
    width: 100%;
  }

  .clicks {
    color: red;
    font-size: medium;
    position: absolute;
  }

  .fog {
    align-items: center;
    bottom: 0;
    display: flex;
    font-size: x-small;
    position: fixed;
  }

  .fps-label {
    font-size: small;
    position: absolute;
    right: 0;
  }

  .particles {
    align-items: center;
    bottom: 0;
    display: flex;
    font-size: x-small;
    position: fixed;
    right: 0;
  }
}

.header-container {
  position: absolute;
  right: 50%;

  .header {
    position: relative;
    right: -50%;
    color: aqua;
  }
}
